In [3]:
import numpy as np
import pandas as pd

In [7]:
my_data=[20,30,40]
labels=['a','b','c']
arr=np.array(my_data)
dic={'a':20,'b':30,'c':40}

In [8]:
arr

array([20, 30, 40])

In [9]:
pd.Series(data=my_data,index=labels)

a    20
b    30
c    40
dtype: int64

In [10]:
pd.Series(dic)

a    20
b    30
c    40
dtype: int64

In [11]:
pd.Series(my_data,labels)

a    20
b    30
c    40
dtype: int64

In [12]:
pd.Series(arr)

0    20
1    30
2    40
dtype: int32

In [13]:
ser1=pd.Series([1,2,3,4,5],['Pak','Ind','iran','afg','oman'])
ser1

Pak     1
Ind     2
iran    3
afg     4
oman    5
dtype: int64

In [14]:
ser2=pd.Series([1,2,3,4,5],['ak','ov','ob','ol','ji'])

In [15]:
ser2

ak    1
ov    2
ob    3
ol    4
ji    5
dtype: int64

In [16]:
ser1['Ind']

2

In [18]:
ser1['Pak']

1

In [19]:
ser1+ser2

Ind    NaN
Pak    NaN
afg    NaN
ak     NaN
iran   NaN
ji     NaN
ob     NaN
ol     NaN
oman   NaN
ov     NaN
dtype: float64