In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [17]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

df

          w         x         y         z
a  0.178009 -0.626805 -0.391089  1.743477
b  1.130018  0.897796  0.330866 -1.063049
c -0.125381 -0.945588  2.029544 -1.046358
d -1.306482 -1.632924  0.802129 -1.667537
e  0.608857  0.286473 -0.205792  2.493990

In [26]:
df['w']
type(df)

pandas.core.frame.DataFrame

In [32]:
df[['w','z']]

          w         z
a  0.178009  1.743477
b  1.130018 -1.063049
c -0.125381 -1.046358
d -1.306482 -1.667537
e  0.608857  2.493990

In [54]:
df['new']=df['w']+df['z']
df

          w         y         z       new
a  0.178009 -0.391089  1.743477  1.921486
b  1.130018  0.330866 -1.063049  0.066969
c -0.125381  2.029544 -1.046358 -1.171739
d -1.306482  0.802129 -1.667537 -2.974019
e  0.608857 -0.205792  2.493990  3.102847

In [56]:
df.drop('new',axis=1)

          w         y         z
a  0.178009 -0.391089  1.743477
b  1.130018  0.330866 -1.063049
c -0.125381  2.029544 -1.046358
d -1.306482  0.802129 -1.667537
e  0.608857 -0.205792  2.493990

In [57]:
df

          w         y         z       new
a  0.178009 -0.391089  1.743477  1.921486
b  1.130018  0.330866 -1.063049  0.066969
c -0.125381  2.029544 -1.046358 -1.171739
d -1.306482  0.802129 -1.667537 -2.974019
e  0.608857 -0.205792  2.493990  3.102847

In [58]:
df.loc['c']

w     -0.125381
y      2.029544
z     -1.046358
new   -1.171739
Name: c, dtype: float64

In [59]:
df.iloc[3]

w     -1.306482
y      0.802129
z     -1.667537
new   -2.974019
Name: d, dtype: float64

In [61]:
df.loc[['a','d'],['w','z']]

          w         z
a  0.178009  1.743477
d -1.306482 -1.667537

In [62]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

df

          w         x         y         z
a -0.547260  0.496727 -1.235614 -0.798428
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [63]:
df>0

       w      x      y      z
a  False   True  False  False
b   True  False  False   True
c   True  False   True  False
d  False   True   True   True
e   True   True  False   True

In [65]:
booldf=df>0

In [69]:
df[df<0]

         w         x         y         z
a -0.54726       NaN -1.235614 -0.798428
b      NaN -0.772041 -0.034432       NaN
c      NaN -0.415191       NaN -2.115113
d -0.27951       NaN       NaN       NaN
e      NaN       NaN -0.765930       NaN

In [70]:
df

          w         x         y         z
a -0.547260  0.496727 -1.235614 -0.798428
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [71]:
df['w']>0

a    False
b     True
c     True
d    False
e     True
Name: w, dtype: bool

In [76]:
df

          w         x         y         z
a -0.547260  0.496727 -1.235614 -0.798428
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [75]:
df[df['w']>0]

          w         x         y         z
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
e  0.153661  0.167638 -0.765930  0.962299

In [79]:
resultdf=df[df['z']>0]
resultdf

          w         x         y         z
b  0.754121 -0.772041 -0.034432  0.688408
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [80]:
resultdf['x']

b   -0.772041
d    1.062710
e    0.167638
Name: x, dtype: float64

In [87]:
df[df['x']>0][['z','w']]

          z         w
a -0.798428 -0.547260
d  0.695547 -0.279510
e  0.962299  0.153661

In [91]:
bolser=df['w']>0
bolser

a    False
b     True
c     True
d    False
e     True
Name: w, dtype: bool

In [92]:
resultol=df[bolser]
resultol

          w         x         y         z
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
e  0.153661  0.167638 -0.765930  0.962299

In [93]:
my_cols=['x','y']

In [97]:
resultol[my_cols]

TypeError: unhashable type: 'list'

In [98]:
df

          w         x         y         z
a -0.547260  0.496727 -1.235614 -0.798428
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [107]:
df.reset_index()

  index         w         x         y         z
0     a -0.547260  0.496727 -1.235614 -0.798428
1     b  0.754121 -0.772041 -0.034432  0.688408
2     c  0.081523 -0.415191  0.053661 -2.115113
3     d -0.279510  1.062710  1.752014  0.695547
4     e  0.153661  0.167638 -0.765930  0.962299

In [108]:
df

          w         x         y         z
a -0.547260  0.496727 -1.235614 -0.798428
b  0.754121 -0.772041 -0.034432  0.688408
c  0.081523 -0.415191  0.053661 -2.115113
d -0.279510  1.062710  1.752014  0.695547
e  0.153661  0.167638 -0.765930  0.962299

In [109]:
new_index='cd vf gy rg ji'.split()

In [110]:
new_index

['cd', 'vf', 'gy', 'rg', 'ji']

In [111]:
df['xyz']=new_index

In [112]:
df

          w         x         y         z xyz
a -0.547260  0.496727 -1.235614 -0.798428  cd
b  0.754121 -0.772041 -0.034432  0.688408  vf
c  0.081523 -0.415191  0.053661 -2.115113  gy
d -0.279510  1.062710  1.752014  0.695547  rg
e  0.153661  0.167638 -0.765930  0.962299  ji

In [115]:
df.set_index('xyz')

            w         x         y         z
xyz
cd  -0.547260  0.496727 -1.235614 -0.798428
vf   0.754121 -0.772041 -0.034432  0.688408
gy   0.081523 -0.415191  0.053661 -2.115113
rg  -0.279510  1.062710  1.752014  0.695547
ji   0.153661  0.167638 -0.765930  0.962299

In [116]:
df

          w         x         y         z xyz
a -0.547260  0.496727 -1.235614 -0.798428  cd
b  0.754121 -0.772041 -0.034432  0.688408  vf
c  0.081523 -0.415191  0.053661 -2.115113  gy
d -0.279510  1.062710  1.752014  0.695547  rg
e  0.153661  0.167638 -0.765930  0.962299  ji

In [120]:
df

          w         x         y         z xyz
a -0.547260  0.496727 -1.235614 -0.798428  cd
b  0.754121 -0.772041 -0.034432  0.688408  vf
c  0.081523 -0.415191  0.053661 -2.115113  gy
d -0.279510  1.062710  1.752014  0.695547  rg
e  0.153661  0.167638 -0.765930  0.962299  ji

In [123]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [126]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [127]:
df

             A         B
G1 1 -0.854860  1.602816
   2  0.185479 -0.994018
   3 -0.131906 -1.335092
G2 1 -0.089298  0.698566
   2 -1.409126  0.870907
   3  1.585812  0.929658

In [128]:
df.index.names=['groups','num']

In [129]:
df

                   A         B
groups num
G1     1   -0.854860  1.602816
       2    0.185479 -0.994018
       3   -0.131906 -1.335092
G2     1   -0.089298  0.698566
       2   -1.409126  0.870907
       3    1.585812  0.929658

In [132]:
df.loc['G2'].loc[2]['B']

0.87090701680484106

In [133]:
df.loc['G1'].loc[3]['A']

-0.13190613678378701

In [136]:
df.xs(2,level='num')

               A         B
groups
G1      0.185479 -0.994018
G2     -1.409126  0.870907

In [137]:
d={'a':[6,np.nan,8],'b':[3,np.nan,7],'c':[np.nan,3,4]}

In [139]:
df=pd.DataFrame(d)

In [140]:
df

     a    b    c
0  6.0  3.0  NaN
1  NaN  NaN  3.0
2  8.0  7.0  4.0

In [145]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [147]:
df.dropna(thresh=2)

     a    b    c
0  6.0  3.0  NaN
2  8.0  7.0  4.0